@model ICollection<ContactViewModel>
@{
    ViewData["Title"] = "Contacts";
}

<div class="row">
    <div class="col-12">
        <h1>Here are your contacts!</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a type="button" class="btn btn-outline-dark" asp-controller="Contacts" asp-action="Create">
            New contact
        </a>
    </div>
</div>

@if (Model.Count > 0)
{
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Phone number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model)
                    {
                        <tr>
                            <td>@contact.FirstName</td>
                            <td>@contact.LastName</td>
                            <td>@contact.PhoneNumber</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (Model.Count == 0)
{
    <p class="mt-5">You have no contacts.</p>
}